.door-frame {
    //cursor: crosshair;
    //cursor: url('img/svg/close.svg') 32 32, move;
    height: 0;
    overflow: hidden;

}


// If JS is not loaded
body.noscript,
body.single-portfolio {

    .door-frame {
        height: auto;
        overflow: visible;
    }

}
