// scaling... any units
$width: 40px;

.loader__container {
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    opacity: .8;
}

.loader {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    width: $width;

    @include breakpoint($medium) {
      $width: 60px;
      width: $width;
    }

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

}

.circular {
  animation: rotate 2s linear infinite;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center center;
  width: 100%;
}

.path {
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $white;
  }
  40% {
    stroke: $white;
  }
  66% {
    stroke: $white;
  }
  80%,
  90% {
    stroke: $white;
  }
}


//Is Visible
.loader__container {

    &.is-visible {
        display: block;
    }

}
