.controls {
    text-align: center;
    //mix-blend-mode: difference;

    //Button
    &__button {
        @include set-font-size(1.6rem, 1.6rem, 1.6rem);
        color: darken($grey, 30%);
        font-family: $font-primary-regular;
        text-transform: uppercase;
        padding: 0 10px;

        // Hover state
        &:hover {
            cursor: pointer;
        }

    }

    &__inner {
        padding: $spacing--tiny;

        // Is fixed
        &.is-fixed {
            background-color: $white;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 200;
        }


    }

}

.mixitup-control-active {
    color: $black;
}
